<ion-view view-title="Rent Percussion | {{root.user}}">
  <ion-content class="padding opal-bg">
    <div class="row">
      <h3 class="col col-85 white-center"> The Opal Music Store Welcomes You! </h3>
      <img class="col col-10" height="60px" style='float:right;' src='img/opal_icon.png'></img>
    </div>
    <h1 class="white-center">Rent Percussion Instruments</hl>
      <button class="button button-full button-positive" ng-click="root.logout();">
        Logout
      </button>
</ion-content>
</ion-view>
