<ion-view view-title="{{driver.username}} | {{bols.length}} Assigned BOLs">
  <ion-content class="padding cvat-bg">
    <div class="card" ng-show="bols.length === 0">
      <div class="item item-divider">
        <h3>No Assigned BOLs</h3>
      </div>
    </div>
    <div class="card" ng-repeat="bol in bols">
      <div class="item item-divider">
        <h3 class="row">
          <span class="text-left col col-50">BOL ID# {{bol.id}}</span>
          <span class="text-right col col-50">Assigned ({{bol.vehicle_list.length}})</span>
        </h3>
      </div>
      <div class="item item-divider pad0">
        <div class="row">
          <div class="col col-50">
            <p>FROM: {{bol.pickup_location.name}}</p>
          </div>
          <div class="col col-50">
            <p>TO: {{bol.dropoff_location.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            Assigned: {{bol.date_created | date : 'MM/dd/yyyy hh:mm a'}}
          </div>
        </div>
        <div class="item pad0" ng-click="viewBolDetails(bol)">
          <button class="button button-block button-dark pad0">
            <i class="fa fa-search"></i> View BOL Details
          </button>
        </div>
      </div>
      <div class="item item-text-wrap pad0">
        <ul class="list pad0">
          <li class="item pad0" ng-repeat="vehicle in bol.vehicle_list">
            <!--<div class="row">-->
            <table width="100%"><tbody><tr>
              <!-- <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8"> -->
              <th width="60%">
                <strong>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</strong>
                <!-- </div> -->
              </th>
              <!-- <div class="col col-xs-8 col-sm-4 col-md-4 col-lg-4"> -->
              <th width="40%">
                <button class="button button-block button-assertive pad0" ng-click="viewVehicleDetails($parent.$index, $index)">
                  <i class="fa fa-car"></i><span class="text10">Details</span>
                </button>
              </th>
            </tr><tr>
              <th width="60%">
                <strong>{{vehicle.vin}}</strong>
              </th>
              <th width="40%">
                <button id="notes_button_{{vehicle.id}}" ng-class="{'button button-block pad0':true, 'button-dark': vehicle.is_show_notes && vehicle.has_notes,
                'button-energized':  !vehicle.is_show_notes && vehicle.has_notes, 'button button-positive':!vehicle.has_notes && !vehicle.is_edit_no_notes, 'button button-balanced': !vehicle.has_notes && vehicle.is_edit_no_notes}"
                ng-click="getVehicleNotes(vehicle);">
                <i ng-class="{'fa fa-sticky-note-o':vehicle.has_notes, 'fa fa-plus':!vehicle.has_notes && !vehicle.is_edit_no_notes, 'fa-fa-pencil':!vehicle.has_notes && vehicle.is_edit_no_notes}"></i>
                <span class="text10" ng-show="!vehicle.is_show_notes && vehicle.has_notes">Show Notes</span>
                <span class="text10" ng-show="vehicle.is_show_notes && vehicle.has_notes">Hide Notes</span>
                <span class="text10" ng-show="!vehicle.has_notes && !vehicle.is_edit_no_notes">Add Notes</span>
                <span class="text10" ng-show="!vehicle.has_notes && vehicle.is_edit_no_notes">Submit Notes</span>
              </button>
            </th>
            <!-- </div> -->
          </tr></tbody></table>
          <div ng-show="vehicle.is_show_notes && vehicle.has_notes" ng-repeat="n in vehicle.notes" class="item item-text-wrap item-divider ">
            <p>{{n.notes}}</p>
          </div>
          <div ng-show="vehicle.is_edit_no_notes && !vehicle.has_notes" class="item item-text-wrap item-divider ">
            <label class="item item-input" style="max-width: 100%">
              <span class="input-label">Notes:</span>
              <textarea class="form-control" rows="6" ng-model="vehicle.edit_notes"></textarea>
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="item item-divider pad0">
      <div class="row pad0">
        <div class="col col-50">
          <button class="button button-block button-assertive pad0" ng-click="declineBol(bol, $index)">
            <i class="fa fa-remove"></i> Decline BOL
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-balanced pad0" ng-click="updateBolTransferStatus(bol, 'ACCEPTED', $index)" href="#/tab/accepted/">
            <i class="fa fa-check"></i> Accept
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
